# kubelet:
#   # This enables the ServiceMonitor required to scrape metrics from the Kubelet (cAdvisor metrics)
#   enabled: true
  
#   # Ensure the service monitor correctly targets the Kubelet metrics
#   serviceMonitor:
#     metricRelabelings:
#       # This rule ensures that core resource metrics are not accidentally dropped
#       - sourceLabels: [__name__]
#         regex: '(container_.*|kubelet_.*)'
#         action: keep

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo  
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo 
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 2Gi 


grafana:
  # additionalDataSources:
  #   - name: Loki
  #     type: loki
  #     url: http://loki-gateway.monitoring.svc.cluster.local
  #     access: proxy
  # datasources:
  #   datasources.yaml:
  #     apiVersion: 1
  #     datasources:
  #       - name: Prometheus
  #         type: prometheus
  #         uid: prometheus
  #         url: http://prometheus-operated:9090
  #         access: proxy
  #         isDefault: true  
  #         jsonData:
  #           httpMethod: POST
  #           timeInterval: 30s

  #       - name: Loki
  #         type: loki
  #         uid: loki
  #         url: http://loki:3100
  #         access: proxy
  #         jsonData:
  #           maxLines: 1000


  # sidecar:
  #   dashboards:
  #     enabled: true
  #     label: grafana_dashboard
  #     searchNamespace: default
    

  #   datasources:
  #     enabled: false
  #     defaultDatasourceEnabled: false
  
  service:
    enabled: true
    type: LoadBalancer
    port: 80          
    targetPort: 3000