prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo  
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo 
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 2Gi 


grafana:
  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      isDefault: false
      jsonData:
        maxLines: 1000
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: default
  
  service:
    enabled: true
    type: LoadBalancer
    port: 80          
    targetPort: 3000